


/*======= menu-left-full start ========*/


.menu-left-full{
    /*display: none;*/
    width: 225px;
    background-color: #2a2a2d;
    padding: 0;
    position: absolute;
    top: 67px;
    float: right;
    border-top: 1px solid #222223;
    height: -webkit-fill-available;
    z-index: 500;
    position: fixed;
}

.menu-left-full .block{
    border-bottom: 2px solid #222223;
    height: auto;
}

.menu-left-full .block .left-menu-item {
    cursor: pointer;
}

div.menu-logo:hover .menu-left-full{
    display: block;
}

.menu-left-full .search-title{
    width: 225px;
    height: 38px;
    margin: 10px 30px;
}

.left-menu-label{
    float: left;
    width: 80px;
    position: relative;
    top: 15px;
}

.left-menu-label-name{
    position: relative;
    top: 7px;
    height: 31px;
}

.menu-left-full .conor{
    float: right;
    margin-top: 17px;
    margin-right: 10px;
}

.menu-left-full ul {
	list-style:none;
	margin:0; 
	padding:0;
	width:225px;
	margin:0 auto;
}

.menu-left-full ul li input[type='checkbox'] {
	display: none;
}

.menu-left-full ul li .label {
	display:block;
    padding:0;
    font-size: 11px;
    margin-bottom: 5px;
    color: white;
}

.menu-left-full ul li .label:hover{
    text-decoration: underline;
}

.menu-left-full ul li span {
	display:inline;
    position:relative;
    color: #8b8b8b;
}

/*ul li input[type='checkbox']:checked ~ label {
	background: #44c6eb; /* fallback colour 
	
}*/

/*ul li input[type='checkbox']:checked ~ label span {
	background: #2173a1; /* fallback colour 
	
}*/

.menu-left-full ul li input[type='checkbox']:checked ~ div.block{
    border-left: 2px solid #f93e6c;
}
.menu-left-full ul li input[type='checkbox']:checked ~ .left-menu-item{
    color: #f93e6c;
    
}

.prof-photo{
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 12px;
}

.menu-left-full ul li input[type='checkbox']:checked ~ .options {
    height: auto;
    display:block;
    min-height:45px;
    max-height: 45px;
    border-left: 2px solid #f93e6c;
}

.menu-left-full ul li input[type='checkbox']:checked ~ .left-menu-item img.conor{
	-moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.menu-left-full ul ul li:first-child {
	padding-top:6px;
}


.btn-upload{
    width: 464px;
    height: 38px;
    background-color: #00917e;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    position: absolute;
    bottom: 0;
}

.btn-upload:hover{
    background-color: #16baa5;
}

.btn-upload>a{
    text-decoration: none;
    color: #ffffff;
    position: relative;
    top: 12px;
}

.menu-left-full ul ul li:last-child {
    padding-bottom:6px;
    border:0;
}


.menu-left{
    width: 45px;
    background-color: #2b2b2d;
    display: block;
    float: left;
    position: fixed;
    height: -webkit-fill-available;
}
.menu-left-item{
    width: 45px;
    height: 45px;
    border-bottom: 2px solid #212122;
}

.prof-photo{
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 12px;
}
    

.prof-photo>img{
    margin: 10px;
    position: relative;
    top: 1px;
    left: 1px;
}

.menu-left-item{
    border-bottom: 2px solid #212122;
    height: 45px;
    width: 45px;
    cursor: pointer;
}
.menu-left-item:hover{
    background-color: #212122;
    border-left: 2px solid #b43252;
}

.menu-left-item a>img{
    position: relative;
    top: 11px;
    left: 11px;
}

.menu-left-full .options {
	height: 0;
	display: block;
    overflow: hidden;
    background: #222223;
    text-align: center;
    border-left: 2px solid #f93e6c;
    width: 222px;
}

.menu-left-full .options a{
    text-decoration: none;
    color: #ffffff;
    position: relative;
    top: 15px;
}

.menu-left-full .options a:hover{
    text-decoration: underline;    
}

.menu-left-full .logout{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background: #f93e6c;
    padding: 10px;
    border-radius: 2px;
    position: relative;
    top: -15px;
    right: -89px;
}

.menu-left-full .logout:hover{
    background: #b43252;
}


.search-triangle::after {
    content: ''; 
    position: absolute;
    left: 83px;
    border: 10px solid transparent;    
    border-top: 10px solid #222223;
}

.search-triangle-two::after {
    content: ''; 
    position: absolute;
    left: 83px;
    top: -2px;
    border: 10px solid transparent;
    border-top: 10px solid #161617;
}

.menu-left-full .btn-upload{
    width: 205px;
    height: 28px;
    background-color: #5a95ff;
    bottom: 77px;
    left: 10px;

}

.menu-left-full .btn-upload:hover{
    background-color: #044e9c;
}

.menu-left-full .btn-upload a{
    font-size: 11px;
    top:7px;
}

/*======= menu-left-full end*/