
			<div class="menu-left-full">
          <ul>
            <li class="block">
              <input type="checkbox" name="item" id="item1" />   
                <div class="left-menu-item">
                  <div class="prof-photo">
                    <img style="position: relative; top:-2px; left:-2px;" [src]="bitmapPath" alt="">
                  </div>
                  <div class="left-menu-label-name">
                    <label for="item1">Dow Jones</label>
                    <span>via Facebook</span>								
                  </div>
                  <a class="logout" href="">logout</a>
                </div>
              <ul class="options">
                <div class="search-item"></div>
              </ul>
            </li>
            <label for="item2">
              <li class="block">
                <input type="checkbox" name="item" id="item2" />   
                <div class="left-menu-item">
                  <div class="prof-photo">
                    <img  [src]="dashboardPath" alt="">
                  </div>
                  <div class="left-menu-label">
                    <span class="label">Dashboard</span>
                  </div>
                  <img class="conor" [src]="shapeCopyPath" alt="">
                </div>
                <ul class="options">
                  <div class="search-item"></div>
                </ul>
              </li>
            </label>
            <label for="item8">
              <li class="block">
                <input type="checkbox" name="item" id="item8" />   
                <div class="left-menu-item">
                  <div class="prof-photo">
                    <img [src]="dialoguePath" alt="">
                  </div>
                  <div class="left-menu-label">
                    <span class="label">Massages</span>
                  </div>
                  <img class="conor" [src]="shapeCopyPath" alt="">
                </div>
                <ul class="options">
                  <div class="search-item"></div>
                </ul>
              </li>
            </label>
            <label for="item5">
              <li class="block">
                <input type="checkbox" name="item" id="item5" />   
                <div class="left-menu-item">
                  <div class="prof-photo">
                    <img [src]="filesPath" alt="">
                  </div>
                  <div class="left-menu-label">
                    <span class="label">Folders</span>
                  </div>
                  <img class="conor" [src]="shapeCopyPath" alt="">
                </div>
                <ul class="options">
                  <div class="search-item">
                    <a href="">Folder</a>
                  </div>
                </ul>
              </li>
            </label>
            <label for="item6">
              <li class="block">
                <input type="checkbox" name="item" id="item6" />   
                <div class="left-menu-item">
                  <div class="prof-photo">
                    <img [src]="favoritesPath" alt="">
                  </div>
                  <div class="left-menu-label">
                    <span class="label">Favorites</span>
                  </div>
                  <img class="conor" [src]="shapeCopyPath" alt="">
                </div>
                <ul class="options">
                  <div class="search-item">
                    <a href="">Favorites</a>
                  </div>
                </ul>
                <ul class="options">
                  <div class="search-item">
                    <a href="">Favorites</a>
                  </div>
                </ul>
              </li>
            </label>
            <label for="item3">
              <li class="block">
                <input type="checkbox" name="item" id="item3" />   
                <div class="left-menu-item">
                  <div class="prof-photo">
                    <img [src]="orderPath" alt="">
                  </div>
                  <div class="left-menu-label">
                    <span class="label">Orders</span>
                  </div>
                  <img class="conor" [src]="shapeCopyPath" alt="">
                </div>
                <ul class="options">
                  <div class="search-item"></div>
                </ul>
              </li>
            </label>
            <label for="item4">
              <li class="block">
                <input type="checkbox" name="item" id="item4" />   
                <div class="left-menu-item">
                  <div class="prof-photo">
                    <img [src]="statsPath" alt="">
                  </div>
                  <div class="left-menu-label">
                    <span class="label">Stats</span>
                  </div>
                  <img class="conor" [src]="shapeCopyPath" alt="">
                </div>
                <ul class="options">
                  <div class="search-item"></div>
                </ul>
              </li>
            </label>
          </ul>
          <div class="btn-upload">
            <a href="">upgrade storage</a>
          </div>
        </div>