.preiod-data{
    float: left;
    width: 261px;
    height: 36px;
    border: 1px solid #3f3f41;
    border-radius: 2px;
    background-color: #2f2f31;
    color: #8b8b8b
}

.header-select-find {
    width: 100%;
    height: 100%;
}

.preiod-data>#header-select>span{
    position: relative;
    top: 10px;
    margin-left: 25px;
}

.preiod-data>#header-select>img{
    position: relative;
    top: 13px;
    margin-right: 25px;
    float: right;
}

.preiod-data:hover{
    background-color: #5a5a5d;
}

.preiod-data:hover span{
    color: #ffffff;
}

.preiod-data:hover img{
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}


.sale-triangle::after {
    content: ''; 
    position: absolute;
    left: 5px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #3e3e40;
}

.sale-menu{
    display: none;
    width: 116px;
    height: 124px;
    background-color: #2f2f31;
    border-radius: 2px;
    z-index: 1;
    position: relative;
    left: 0px;
    top: 33px;
}

.sale-menu-item{
    width: 261px;
    height: 36px;
    text-align: center;  
    cursor: pointer;  
    border-bottom: 1px solid #5a5a5d;
}

.sale-menu-item:hover{
    background-color: #5a5a5d;
    border-bottom: 1px solid #6e6e71;
}

.sale-menu-item>a{
    text-decoration: none;
    color: #979798;
    position: relative;
    top: 9px;
}

.sale-menu-item:hover a{
    color: #ffffff;
}



.preiod-data:hover .sale-menu{
    display: table;
}