          <div class="preiod-data">
            <div id="header-select" class="header-select-find">
              <span>Select data</span>
              <img [src]="chewronePath" alt="">
            </div>
            <div class="sale-menu">
              <div class="sale-triangle"></div>
              <div 
                (click)="select('item1')"
                class="sale-menu-item">
                <a class="sale-menu-item-href">Links 1</a>
              </div>
              <div 
                (click)="select('item2')"
                class="sale-menu-item">
                <a class="sale-menu-item-href">Links 1</a>
              </div>
              <div 
                (click)="select('item3')"
                class="sale-menu-item">
                <a class="sale-menu-item-href">Links 1</a>
              </div>
              <div
                (click)="select('item4')" 
                class="sale-menu-item">
                <a class="sale-menu-item-href">Links 1</a>
              </div>
            </div>
          </div>