<header class="header">
  <div class="menu-logo"   (click)="showMenu()">
    <div class="drop-down-menu">
      <a><img [src]="logoImagePath" alt=""></a>
    </div>
    <ng-content></ng-content>
    <span class="logo"><strong>PIC</strong>STATION</span>
  </div>
  <div class="search-block">
    <a class="btn-search" href=""><img [src]="searchIconPath" alt=""></a>
    <input class="search" type="search" placeholder="Search ...">
  </div>
  <div class="header-right">
    <div (click)="advSrchShow($event)" class="adv-search">
      <a>Advanced search</a>
    </div>
    <div (click)="uploadShow($event)" class="upload">
      <div class="btn-middle">
        <a>upload</a>
      </div>
    </div>
    <div class="help-notif">
      <div class="help-notif-btn">
        <a (click)="notiShow($event)"><img [src]="notifyIconPath" alt=""></a>
        <a (click)="settingsShow($event)"><img [src]="helpIconPath" alt=""></a>
      </div>
    </div>	
  </div>
</header>