
/* header start */

.header{
    width: 100%;
    height: 68px;
    background-color: #2f2f31;
    /*position: fixed;*/
    position: absolute;
    z-index: 9999;
    margin-top: -68px;
    min-width: 1440px;
}

.menu-logo{
    height: 68px;
    width: 225px;
    float: left;
    background-color: #161617;
    cursor: pointer;
}

.drop-down-menu{
    float: left;
    margin: 15px 10px;
    width: 20px;
    height: 20px;
}

.drop-down-menu a>img{
    margin-top: 9px;
    margin-left: 13px;
}

.logo{
    font-size: 24px;
    font-weight: 400;
    width: 150px;
    height: 29px;
    float: left;
    margin: 19px 10px;
}
.search-block{
    float: left;
    background-color: #2f2f31;
    height: 68px;
    width: 757px;

}

.search-block .btn-search>img{
    margin: 26px 16px;
    float: left;
}

.search-block .search{
    float: left;
    background-color: #2f2f31;
    border: none;
    color: #ffffff;
    width: 674px;
    margin: 0 25px 0 0;
    font-weight: 700;
    line-height: 66px;
}

.header-right{
    float: right;
    width: 465px;
    height: 68px;
    background-color: #161617;
    border-left: 1px solid #3d3d40;
}


.adv-search{
    height: 68px;
    width: 180px;
    float: left;
    border-right: 1px solid #3d3d40; 
}

.adv-search>a{
    text-transform: uppercase;
    text-decoration: none;
    color: #b43252;
    margin: 0 31px;
    top: 27px;
    position: relative;
}

.upload{
    height: 68px;
    width: 128px;
    float: left;
    padding: 0 15px;
}

.btn-middle{
    float:left;
    width: 100px;
    height: 28px;
    margin-left: 10px;
    background: #00917e;
    border-radius: 2px;
    position: relative;
    top: 20px; 
    text-align: center; 
}

.btn-middle>a{
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    top: 7px;    
}

.help-notif{
    float: left;
}

.help-notif-btn{
    
    margin: 20px 10px;
}

.help-notif-btn>a{
    margin: 0 10px;
}

/* header end */
