.btn-middle {
    width: 53px;
    height: 13px;
    line-height: 15px;
    padding: 6px 26px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.btn-middle>a {
    text-transform: uppercase;
    text-decoration: none;
}