<div [style.background]='bgColorF' 
     [style.margin]='margin'
     (mouseover)='hovDiv()'
     (mouseout)='hovDiv()'
     (click)='change()' 
     class="btn-middle">
  <a [style.color]='textColorF'><ng-content></ng-content></a>
</div>
