.menu-left{
    width: 45px;
    background-color: #2b2b2d;
    display: block;
    float: left;
    /*position: fixed;*/
    position:absolute;
    top: 68px;
    height: -webkit-fill-available;
}
.menu-left-item{
    width: 45px;
    height: 45px;
    border-bottom: 2px solid #212122;
}

.prof-photo{
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 12px;
}
    

.prof-photo>img{
    margin: 10px;
    position: relative;
    top: 1px;
    left: 1px;
}

.menu-left-item{
    border-bottom: 2px solid #212122;
    height: 45px;
    width: 45px;
    cursor: pointer;
}
.menu-left-item:hover{
    background-color: #212122;
    border-left: 2px solid #b43252;
}

.menu-left-item a>img{
    position: relative;
    top: 11px;
    left: 11px;
}