			<div class="menu-left">
          <div class="menu-left-item">
            <a><img style="position: relative; top:8px; left:8px;" [src]="bitmapPath" alt=""></a>
          </div>
          <div class="menu-left-item">
            <a><img [src]="dashboardPath" alt=""></a>
          </div>
          <div class="menu-left-item">
            <a><img [src]="dialoguePath" alt=""></a>
          </div>
          <div class="menu-left-item">
            <a><img [src]="filesPath" alt=""></a>
          </div>
          <div class="menu-left-item">
            <a><img [src]="favoritesPath" alt=""></a>
          </div>
          <div class="menu-left-item">
            <a><img [src]="orderPath" alt=""></a>
          </div>
          <div class="menu-left-item">
            <a><img [src]="statsPath" alt=""></a>
          </div>
      </div>