.sale-auction{
    width: 263px;
    height: 28px;
    margin-bottom: 30px;
}

.sale{
    width: 123px;
    height: 26px;
    border: 1px solid #3f3f41;
    border-radius: 2px;
    text-align: center;
    float: left;
    cursor:  pointer;
}

.activ {
    background-color: #2f2f31;
}

.activ a{
    color: #ffffff;
}

.sale:hover{
    background-color: #2f2f31;
}

.sale>a{
    position: relative;
    top: 6px;
    text-decoration: none;
    color: #8b8b8b;
}

.sale:hover a{
    color: #ffffff;
}

.auction{
    float: right;
}
