
			<div class="sale-auction">
        <div 
          [ngClass]="{activ:selectRate}"
          (click)="select('rate')" 
          class="sale">
					<a>Regular sale</a>
				</div>
        <div 
          [ngClass]="{activ:selectAuction}"
          (click)="select('auction')" 
          class="sale auction">
					<a>Auction</a>
				</div>
			</div>