<table>
  <tr>
    <td class="tblHdr" *ngFor="let item of header"><span [style.width]="item.width">{{item.title}}</span></td>
    <td class="tblHdr"><span>action</span></td>
  </tr>
  <ng-template ngFor let-item [ngForOf]="body" let-i="index">
  <tr>
    <ng-template ngFor let-key [ngForOf]="keys" let-i="keyIndex">
      <td><span [style.width]="key.width">{{item[key.key]}}</span></td>
    </ng-template>
    <td>
        <app-big-btn *ngFor="let button of actionArray" (onChanged)="click(button.action, item[button.key])" [bgColor]="button.bgColor" [bgHovColor]="button.hoverBgColor" 
        margin="0 0 10px 0" [textColor]="button.color" [textHovColor]="button.hoverColor">
          {{button.text}}
        </app-big-btn>
    </td>
  </tr>
  </ng-template>
</table>
