table {
    width: 1000px;
    height: 500px;
    background-color: #3a3a3c;
    border-spacing: 0;
}

tr {
    background-color: #2f2f31;
}
td {
    padding: 20px 10px 20px 10px;
    border-right: 1px solid #5a5a5d;
    border-top: 1px solid #5a5a5d;
}
tr:hover {
    background-color: #333335;
}
.tblHdr {
    background-color: #3a3a3c;
}
.tblHdr>span {
    color: white
}
td>span {
    overflow-wrap: break-word;
    width: 80%;
    color: #979798;
    text-transform: uppercase;
    display: inline-block;
}
