<agm-map 
  [ngStyle]="{'width':width, 'height': height}"
  [latitude]="lat" 
  [longitude]="lng" 
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">
  <agm-marker 
    [latitude]="markerLat" 
    [longitude]="markerLng"    
    [markerDraggable]="true"
    (dragEnd)="markerDragEnd($event)"></agm-marker>
</agm-map>