
		<div class="menu-aside" (click)="clickMain($event)">
      <!--<perfect-scrollbar style="max-height: 540px;">-->
        <span class="menu-aside-title"><h2>Upload your photo</h2></span>
        <!--<div class="dowload-box">-->
          <!--<div>
            <img [src]="ddImagePath" alt="">
          </div>
          <span class="d-n-d">Drag and drop</span>
          <div class="browse">
            <span>your files to assets, or <a href="">browse</a></span>
          </div>-->
          <div 
            ngfDrop 
            selectable="1" 
            multiple="1"
            [(files)] = "files"
            [(file)] = "file"
            [(dragFiles)]    = "files"
            [(validDrag)]="validComboDrag"
            [(invalidDrag)]="invalidComboDrag"
            (filesChange) = "lastFileAt($event)"
            class="dowload-box"
            [ngClass]="{'dowload-box-valid':validComboDrag, 'dowload-box-invalid': invalidComboDrag}"
            >
            Combo drop/select zone
          </div>
        <!--</div>-->
        <app-btn-checkbox (onClick)="changeAuction($event)"></app-btn-checkbox>
        <div class="sale-titles">
          <div class="priod-sale">
            <span>Period auction</span>
          </div>
          <div class="starting-price">
            <span>Starting price</span>
          </div>
        </div>
        <div class="sale-settings">
          <!--<div class="preiod-data">
            <span>Select data</span>
            <img [src]="chewronePath" alt="">
            <div class="sale-menu">
              <div class="sale-triangle"></div>
              <div class="sale-menu-item">
                <a href="">Links 1</a>
              </div>
              <div class="sale-menu-item">
                <a href="">Links 1</a>
              </div>
              <div class="sale-menu-item">
                <a href="">Links 1</a>
              </div>
              <div class="sale-menu-item">
                <a href="">Links 1</a>
              </div>
            </div>
          </div>-->
          <!--<app-select></app-select>-->
          <ng-select 
            [bindValue]="select"
            [items]="simpleItems"
            [(ngModel)]="selectedSimpleItem"
            [searchable]="searchable"
            class="test">
            Please select item
          </ng-select>
          <div class="input-price">
            <input [(ngModel)]="inputPrice" type="text" placeholder="000,0">
            <span>$</span>
          </div>
        </div>
        <div class="text-input">
          <textarea [(ngModel)]="text" type="text" placeholder="Text here…"></textarea>
        </div>
        <div class="sale-titles">
          <span>Show images on a map based meta data</span>
        </div>
        <div class="upload-map">
          <!--img [src]="uploadImagePath" alt="">-->
            <app-google-map-area 
            width='406px'
            height='200px'
            (coordsChange)="coordsChange($event)"></app-google-map-area>
        </div>
      <!--</perfect-scrollbar>-->
      <div (click)="checking()" class="btn-upload">
        <a>upload</a>
      </div>
    </div>