

/* menu-aside start */

.menu-aside{
    width: 404px;
    background-color: #161617;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: -webkit-fill-available;
    min-height: 845px;
}


.menu-aside-title>h2{
    color: #00917e;
    font-size: 17px;
    margin-top: 36px;
}

.dowload-box{
    width: 404px;
    height: 128px;
    border-radius: 2px;
    background-color: #2f2f31;
    text-align: center;
    padding: 35px 0;
    cursor: pointer;
    margin-bottom: 30px;

}

.dowload-box-valid {
    border: 1px solid #3f3f41;
}

.dowload-box-invalid {
    border: 1px solid red;
}

.dowload-box img{
    margin-bottom: 10px;
}

.dowload-box .d-n-d{
    font-size: 17px;
}

.dowload-box .browse{
    margin-top: 10px;
}

.dowload-box .browse a{
    color: #b43252;
}

.dowload-box .browse a:hover{
    color: #ffffff;
}

.sale-auction{
    width: 263px;
    height: 28px;
    margin-bottom: 30px;
}

.sale{
    width: 123px;
    height: 26px;
    border: 1px solid #3f3f41;
    border-radius: 2px;
    text-align: center;
    float: left;
}

.sale:hover{
    background-color: #2f2f31;
}

.sale>a{
    position: relative;
    top: 6px;
    text-decoration: none;
    color: #8b8b8b;
}

.sale:hover a{
    color: #ffffff;
}

.auction{
    float: right;
}

.sale-titles{
    width: 406px;
    height: 11px;
    color: #8b8b8b;
    text-align: left;
    margin-bottom: 18px;
}

.sale-titles .priod-sale{
    width: 121px;
    height: 11px;
    float: left;
}

.sale-titles .starting-price{
    width: 121px;
    height: 11px;
    float: right;
}

.sale-settings{
    width: 406px;
    height: 38px;
    margin-bottom: 30px;
}
/*.preiod-data{
    float: left;
    width: 261px;
    height: 36px;
    border: 1px solid #3f3f41;
    border-radius: 2px;
    background-color: #2f2f31;
    color: #8b8b8b
}

.preiod-data>span{
    position: relative;
    top: 10px;
    margin-left: 25px;
}

.preiod-data>img{
    position: relative;
    top: 13px;
    margin-right: 25px;
    float: right;
}

.preiod-data:hover{
    background-color: #5a5a5d;
}

.preiod-data:hover span{
    color: #ffffff;
}

.preiod-data:hover img{
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}*/

/*.sale-triangle::after {
    content: ''; 
    position: absolute;
    left: 5px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #3e3e40;
}

.sale-menu{
    display: none;
    width: 116px;
    height: 124px;
    background-color: #2f2f31;
    border-radius: 2px;
    z-index: 1;
    position: relative;
    left: 0px;
    top: 33px;
}

.sale-menu-item{
    width: 261px;
    height: 36px;
    text-align: center;  
    cursor: pointer;  
    border-bottom: 1px solid #5a5a5d;
}

.sale-menu-item:hover{
    background-color: #5a5a5d;
    border-bottom: 1px solid #6e6e71;
}

.sale-menu-item>a{
    text-decoration: none;
    color: #979798;
    position: relative;
    top: 9px;
}

.sale-menu-item:hover a{
    color: #ffffff;
}



.preiod-data:hover .sale-menu{
    display: table;
}*/

.input-price{
    width: 89px;
    height: 36px;
    border: 1px solid #3f3f41;
    border-radius: 2px;
    background-color: #2f2f31;
    float: right;
    padding: 0 15px;
    margin-bottom: 30px;
}

.input-price>input{
    width: 60px;
    position: relative;
    top: 9px;
    background-color: #2f2f31;
    color: #979798;
    border: none;
    font-weight: 700;
}

.input-price>span{
    position: relative;
    top: 10px;
    float: right;
    margin-right: 5px;
}

.text-input{
    width: 406px;
    height: 90px;
    margin-bottom: 30px; 
}

textarea{
    width: 364px;
    height: 62px;
    float: right;
    color: #979798;
    font-weight: 700;
    border: 1px solid #3f3f41;
    border-radius: 2px;
    background-color: #2f2f31;
    padding: 13px 20px;
}

.upload-map{
    width: 404px;
    height: 198px;
    border: 1px solid #3f3f41;
    border-radius: 2px;
    overflow: hidden;
}
.btn-upload{
    width: 464px;
    height: 38px;
    background-color: #00917e;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    position: absolute;
    bottom: 0;
}

.btn-upload:hover{
    background-color: #16baa5;
}

.btn-upload>a{
    text-decoration: none;
    color: #ffffff;
    position: relative;
    top: 12px;
}

.pict{ 
    max-width: 879px;
    /*height: 815px;*/
    overflow: hidden;

}

/* menu-aside end */