<p>
  main works!
</p>
<app-big-btn bgColor='#00917e' bgHovColor='black' textColor='white' textHovColor='blue' margin='0px'>Hello</app-big-btn>
<button
  (click)="showNot()">
  Create
</button>
<app-google-map-area 
  [lat]="inputLat"
  [lng]="inputLng"
  width='500px'
  height='400px'
  (coordsChange)="coordsChange($event)"></app-google-map-area>
  <br/>
  lat: {{lat}}
  <br/>
  lng: {{lng}}

<simple-notifications></simple-notifications>
