<app-search-header
    (onMenu)="changeMenu()"
    (onRightMenu)="changeRightMenu($event)">
</app-search-header>
<app-left-full-menu *ngIf="fullMenuStatus"></app-left-full-menu>

<div class="content" (click)="clickingOnContent($event)">
    <app-left-menu></app-left-menu>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
    <div class="contentBar">
        <app-right-upload-area *ngIf="upload"></app-right-upload-area>
        <app-right-advanced-search *ngIf="advancedSearch"></app-right-advanced-search>
        <app-right-notification *ngIf="notification"></app-right-notification>
        <app-right-settings *ngIf="settings"></app-right-settings>
    </div>
</div>