/* You can add global styles to this file, and also import other style files */

/*.test .ng-select-container {
    float: left;
    width: 261px;
    height: 36px;
    border: 1px solid #3f3f41;
    border-radius: 2px;
    background-color: #2f2f31;
    color: #8b8b8b
}*/


@import "~@ng-select/ng-select/themes/default.theme.css";

.test {
    float: left;
}

.test .ng-select-container:hover {
    color: #ffffff !important;
    background-color: #5a5a5d !important;
}

.test .ng-select-container:hover .ng-clear-wrapper {
    color: #ffffff !important;
}

.test .ng-select-container:hover .ng-value-label {
    color: #ffffff !important;
}

.test .ng-select-container .ng-value-label {
    color: #8b8b8b !important;
}

.test.ng-select-opened>.ng-select-container {
    background-color: #2f2f31 !important;
    color: #8b8b8b !important;
    border: 1px solid #3f3f41 !important;
}

.test .ng-dropdown-panel {
    background-color: #2f2f31;
    border-color: #3f3f41;
    width: 261px;
}

.test .ng-option {
    background-color: #2f2f31 !important;
    border-color: #3f3f41;
    color: #8b8b8b !important;
}

.test .ng-option:hover {
    color: #ffffff !important;
    background-color: #5a5a5d !important;
}

.test .ng-select-container{
    /*float: left;*/
    width: 261px !important;
    /*height: 36px;*/
    border: 1px solid #3f3f41;
    border-radius: 2px;
    background-color: #2f2f31;
    color: #8b8b8b
}

body {
	margin: 0;
	font-size: 11px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #ffffff;
    background-color: #212122;
}

.main{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}



.content{
    width: 100%;
    display: flex;
    margin-top: 68px;
}

.main-content {
    width: 100%;
    display: flex;
    float: left;
    background-color: rgb(33, 33, 34);
    flex-direction: column;
    margin-left: 45px;
    padding: 30px;
    min-width: 869px;
}

/*====================================================================*/
/* media */

@media screen and (max-width: 1447px){
    .search-block{
        max-width: 610px;
    }

    .search-block .search{
        width: 537px;
    }

    .pict{
        width: 800px;
    }

   /* .upload-box{
        width: 1197px;
        height: 360px;
        padding: 0;
    }*/
}

@media screen and (max-width: 1439px){
    .dashboard{
        width: 696px;
    }
    
    .dashboard-top{
        width: 736px;
        height: 288px;
    }
    
    .dashboard-bottom{
        width: 736px;
        height: 288px;
    }

    .top-left{
        width: 336px;
        height: 288px;
    }

    .top-right{
        width: 336px;
        height: 288px;
    }
    
    .bottom-left{
        width: 336px;
        height: 288px;
    }
    
    .bottom-right{
        width: 336px;
        height: 288px;
    }


}

@media screen and (max-width: 1370px){
    .pict{
        width: 750px;
    }

}

@media screen and (max-width: 1370px){
    .pict{
        width: 700px;
    }
}

@media screen and (max-width: 1300px){
    .search-block{
        max-width: 747px;
    }

    .search-block .search{
        width: 440px;
    }

}